/* Global Styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0a192f;
  color: #fff;
  background-image: url('E:/Desktop/portfolio/image.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

/* Header Styles */
header {
  background-color: #112240;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 32px;
}

/* Navigation Styles */
nav {
  background-color: #112240;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  font-size: 18px;
}

nav ul li a:hover {
  background-color: #ff006e;
  border-radius: 5px;
}

/* Hero Section Styles */
.hero {
  background-image: linear-gradient(to right, #ff006e, #8338ec);
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight {
  background-color: rgba(255, 215, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 20px;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  color: #112240;
}

.highlight h2 {
  font-size: 28px;
}

.highlight p {
  font-size: 18px;
}

/* Features Section Styles */
.features {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.feature {
  background-color: #fff;
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  margin: 20px;
  text-align: center;
  width: 300px;
  transition: transform 0.3s ease;
}

.feature img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 100%;
  border-radius: 5px;
}

.feature:hover {
  transform: scale(1.05);
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature p {
  font-size: 18px;
}

/* Footer Styles */
footer {
  background-color: #112240;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

/* Additional Styles */
.profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
